html, body {
  height: 100%;
}

main {
  background-color: #F5F5F5;
  min-height: 83%;
  font-size: 14px;
}

footer {
  height: 107px;
  color: white;
  background-color: #323232;
}

.title-label {
  display: flex;
  align-items: center;
}

.title-label button {
  height: 40px;
  margin-top: 0.75rem;
  margin-left: 1rem;
}

.label {
  color: gray;
}