<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">

  <th:block layout:fragment="title">
    <title>This is a hello page!!!!</title>
  </th:block>

  <th:block layout:fragment="body">
    <div>body에 이런 값들이 제대로 들어갈까??? 환영한다!!</div>
    <div>스타일이 잘 들어갔을까나??</div>
    <form th:action="@{/logout}" method="post">
      <button class="w-100 btn btn-lg btn-primary" type="submit">로그아웃</button>
    </form>

  </th:block>
</html>