<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="/layout/basic.html :: head"></div>
    <title>Test Page</title>
    <link th:href="@{/css/mainpage/index.css}" rel="stylesheet">
  </head>
  <body>
    <div class="container mt-3">
      <h3>Tooltip Example</h3>
      
      <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" title="Hooray!">
        Hover over me!
      </button>
    </div>

    <div th:replace="/layout/basic.html :: body"></div>
  </body>
</html>