<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lostarktodo.mapper.ScheduleMapper">
  <sql id="scheduleColumns">
    idx,
    name,
    period,
    resting_gauge,
    max_resting_gauge,
    complete_count,
    max_complete_count,
    type_idx,
    hero_idx,
    disabled
  </sql>
  
  <insert id="insertSchedule" parameterType="ScheduleDTO">
    INSERT INTO schedule (
      <include refid="scheduleColumns"/>
    ) VALUES (
      #{idx},
      #{name},
      #{period},
      #{restingGauge},
      #{maxRestingGauge},
      #{completeCount},
      #{maxCompleteCount},
      #{typeIdx},
      #{heroIdx},
      IFNULL(#{disabled}, 'N')
    )
  </insert>
  
  <update id="updateSchedule" parameterType="ScheduleDTO">
    UPDATE schedule
    SET
      name = #{name},
      resting_gauge = #{restingGauge},
      max_resting_gauge = #{maxRestingGauge},
      complete_count = #{completeCount},
      max_complete_count = #{maxCompleteCount},
      type_idx = #{typeIdx}
    WHERE
      idx = #{idx}
  </update>
  
  <select id="selectScheduleDetail" parameterType="int" resultType="ScheduleDTO">
    SELECT
      <include refid="scheduleColumns"/>
    FROM
      schedule
    WHERE
      idx = #{idx}
  </select>
  
  <update id="deleteSchedule" parameterType="int">
    UPDATE schedule
    SET
      disabled = 'Y'
    WHERE
      idx = #{idx}
  </update>
  
  <select id="selectScheduleList" resultType="ScheduleDTO">
    SELECT
      <include refid="scheduleColumns"/>
    FROM
      schedule
    WHERE
      disabled = 'N'
  </select>
  
  <select id="selectDailyScheduleListByHeroidx" parameterType="int" resultType="ScheduleDTO">
    SELECT
      <include refid="scheduleColumns"/>
    FROM
      schedule
    WHERE
      hero_idx = #{heroIdx}
    AND
      period = 'D'
    AND
      disabled = 'N'
    ORDER BY
      idx
  </select>
  
  <select id="selectWeeklyScheduleListByHeroidx" parameterType="int" resultType="ScheduleDTO">
    SELECT
      <include refid="scheduleColumns"/>
    FROM
      schedule
    WHERE
      hero_idx = #{heroIdx}
    AND
      period = 'W'
    AND
      disabled = 'N'
    ORDER BY
      idx
  </select>
  
  <resultMap id="ScheduleResultMap" type="ScheduleDTO">
    <id column="idx" property="idx"/>
    <result column="name" property="name"/>
    <result column="period" property="period"/>
    <result column="resting_gauge" property="restingGauge"/>
    <result column="max_resting_gauge" property="maxRestingGauge"/>
    <result column="complete_count" property="completeCount"/>
    <result column="max_complete_count" property="maxCompleteCount"/>
    <result column="hero_idx" property="heroIdx"/>
    <result column="disabled" property="disabled"/>
    <association property="scheduleTypeDTO" javaType="ScheduleTypeDTO">
    	<id column="type_idx" property="idx"/>
    	<result column="name_kr" property="nameKr"/>
    	<result column="name_en" property="nameEn"/>
    </association>
  </resultMap>
  
  <select id="selectDailyScheduleListAndScheduleTypeByHeroidx" parameterType="int" resultMap="ScheduleResultMap">
    SELECT
      *
    FROM
      schedule s
    INNER JOIN
      schedule_type t
    ON
      s.type_idx = t.idx
    WHERE
      s.hero_idx = ${heroIdx}
    AND
      period = "D"
    AND
      disabled = "N"
    ORDER BY
      s.idx
  </select>
  
  <select id="selectWeeklyScheduleListAndScheduleTypeByHeroidx" parameterType="int" resultMap="ScheduleResultMap">
    SELECT
      *
    FROM
      schedule s
    INNER JOIN
      schedule_type t
    ON
      s.type_idx = t.idx
    WHERE
      s.hero_idx = ${heroIdx}
    AND
      period = "W"
    AND
      disabled = "N"
    ORDER BY
      s.idx
  </select>
  
</mapper>