<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lostarktodo.mapper.UserMapper">
	<sql id="userColumns">
		idx,
		userid,
		password
	</sql>
	
	<insert id="insertUser" parameterType="UserDTO">
		INSERT INTO user (
			<include refid="userColumns"/>
		) VALUES (
			#{idx},
			#{userid},
			#{password}
		)
	</insert>
	
	<select id="checkWhetherExistID" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM
			user
		WHERE
			userid = #{userid}
	</select>
</mapper>