<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorator="layout/basic">

  <th:block layout:fragment="style">
    <link th:href="@{/css/mainpage/index.css}" rel="stylesheet">
  </th:block>

  <th:block layout:fragment="title">
    <title>Lostark Todo</title>
  </th:block>

  <th:block layout:fragment="navbar">
    <nav class="navbar navbar-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-light">Navbar</a>
        <form class="d-flex" th:action="@{/logout}" method="post">
          <button class="w-100 btn btn-lg btn-primary" type="submit">로그아웃</button>
        </form>
      </div>
    </nav>
  </th:block>

  <th:block layout:fragment="modal">

    <!-- 캐릭터 추가 및 수정 모달 -->
    <section class="modal fade" id="heroWriteModal" tabindex="-1" aria-labelledby="heroWriteModal" aria-hidden="true">
      <form class="modal-dialog modal-lg" th:action="@{/hero/write}" th:object="${heroParams}" method="post">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="heroWriteModalLabel" style="font-weight: bold;">캐릭터 정보</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
          <div class="row modal-body">
            <div class="col-1 d-flex align-items-center">
              <img
              width="65px"
              height="65px"
              src="/icon/hero/default.png"
              class="heroIcon img-fluid rounded-start"
              alt="캐릭터 아이콘"/>
            </div>
  
            <div class="col-3">
              <div style="color: gray;">직업</div>

              <select th:field="*{typeIdx}" class="form-select" aria-label="heroSelect" onchange="changeHeroIcon(this.value)">
                <option value="0" selected>선택</option>
                <option th:each="heroType: ${heroTypeList}" th:value="${heroType.idx}" th:text="${heroType.nameKr}">
              </select>
            </div>
  
            <div class="col-8">
              <div style="color: gray;">캐릭터명</div>
              <input type="text" th:field="*{name}" th:value="*{name}" class="heroName form-control" placeholder="캐릭터명을 입력해주세요." maxlength="12" onchange="onChangeheroNameInput()"/>
            </div>
          </div>
  
          <div class="modal-footer d-flex flex-column align-items-end">
            <div id="didNotSelectHerotype" th:if="${error} == 'didNotSelectHerotype'" class="alert alert-danger" role="alert">
              직업을 선택해주세요.
            </div>

            <div id="didNotTypeHeroname" th:if="${error} == 'didNotTypeHeroname'" class="alert alert-danger" role="alert">
              캐릭터명을 입력해주세요.
            </div>

            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              <button type="submit" class="btn btn-primary">저장</button>
            </div>
          </div>
        </div>

      </form>
    </section>

    <!-- TODO: 스케줄 추가 및 수정 모달 -->

  </th:block>

  <th:block layout:fragment="body">
    <main class="container-fluid">
      <section class="container-lg">
        <div class="hero-label">
          <h5 class="ps-2 pt-3" style="font-weight: bold;">캐릭터</h5>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#heroWriteModal">추가</button>
        </div>
        <hr/>

        <section class="row">
          <article class="col-lg-3 col-md-4 col-sm-6 mb-2">
            <div class="hero card p-1 mb-3">
              <div class="row g-0">
                <div class="image-section col-3">
                  <img width="65px" height="65px" th:attr="src=@{/icon/hero/normal/warlord.png}" class="img-fluid rounded-start" alt="캐릭터 아이콘">
                </div>
                <div class="col-9">
                  <div class="card-body">
                    <p class="card-title">워로드</p>
                    <p class="card-text">닉네임이열두글자까지갈까요</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-12 btn-group">
                <button type="button" class="btn btn-secondary" onclick="onOpenHeroWriteModal()">캐릭터 수정</button>
                <button type="button" class="btn btn-danger">캐릭터 삭제</button>
              </div>
            </div>
          </article>
          
        </section>

      </section>
    </main>
  </th:block>

  <th:block layout:fragment="footer">
    <footer class="container-fluid">
      <p>자기 멋대로인 스프링</p>
    </footer>
  </th:block>

  <th:block layout:fragment="script">
    <script th:inline="javascript">
      /*<![CDATA[*/

      // 캐릭터 추가 및 수정 모달에서 캐릭터의 아이콘을 typeIdx에 맞는 직업의 아이콘으로 변경한다.
      function changeHeroIcon(typeIdx) {
        let heroIconEl = document.querySelector("#heroWriteModal .heroIcon");
        let heroTypeList = /*[[ ${heroTypeList} ]]*/ null;

        if (typeIdx > 0) {
          let heroType = heroTypeList[typeIdx - 1];
          heroIconEl.setAttribute("src", "/icon/hero/normal/" + heroType.nameEn + ".png");
          
          // 직업을 선택했으니 직업을 선택해달라는 alert이 있으면 안보이도록 함.
          let didNotSelectHerotype = document.querySelector("#didNotSelectHerotype");
          if (didNotSelectHerotype)
            didNotSelectHerotype.style.display = "none";
        } else {
          heroIconEl.setAttribute("src", "/icon/hero/default.png");
        }
      }

      // 캐릭터명 input태그 수정시 캐릭터명 입력하라는 alert이 있으면 안보이도록 함.
      function onChangeheroNameInput() {
        let didNotTypeHeroname = document.querySelector("#didNotTypeHeroname");
          if (didNotTypeHeroname)
            didNotTypeHeroname.style.display = "none";
      }

      // 화면 로드시
      window.onload = function() {

        // 캐릭터 추가 및 수정 모달 캐릭터 아이콘 설정
        const heroParams = /*[[ ${heroParams} ]]*/ null;
        changeHeroIcon(heroParams.typeIdx);

        // 캐릭터 추가 및 수정 모달 폼에서 POST 요청후 리다이렉션 했는데
        // 유효성 검증에 실패했을 경우 사용자가 수정할 수 있게 다시 모달을 띄어줌.
        const error = /*[[ ${error} ]]*/ null;
        if (error) {
          if (error.includes("didNotTypeHeroname") || error.includes("didNotSelectHerotype")) {
            const heroWriterModal = new bootstrap.Modal(document.querySelector('#heroWriteModal'), {
              keyboard: true
            });

            heroWriterModal.show();
          }
        }
      }

      /*]]>*/
    </script>
  </th:block>
</html>