<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!-- 화면 중간에 보여줄 내용 -->
  <main th:fragment="wrapper">
    <div th:replace="/pages/mainpage/fragments/modal/removeModal.html :: wrapper"></div>
    <div th:replace="/pages/mainpage/fragments/modal/heroWriteModal.html :: wrapper"></div>
    <div th:replace="/pages/mainpage/fragments/modal/dailyScheduleWriteModal.html :: wrapper"></div>

    <!-- 캐릭터 영역 -->
    <section class="container-lg">
      <div class="title-label">
        <h5 class="ps-2 pt-3" style="font-weight: bold;">캐릭터</h5>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#heroWriteModal" onclick="onClickHeroAddButton()">추가</button>
      </div>
      <hr/>
  
      <!-- 보여줄 캐릭터 목록 -->
      <section class="row">
        <!-- 캐릭터 정보 나타내는 카드 -->
        <div th:replace="/pages/mainpage/fragments/components/heroCard.html :: wrapper"></div>
      </section>
    </section>

    <!-- 일간 스케줄 영역 (현재 선택한 캐릭터가 있는 경우에만 출력) -->
    <section th:if="${watchingHeroIdx}" class="container-lg">
      <div class="title-label">
        <h5 class="ps-2 pt-3" style="font-weight: bold;">일간 스케줄</h5>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dailyScheduleWriteModal" onclick="onClickDailyScheduleButton()">추가</button>
      </div>
      <hr/>

      <div th:replace="/pages/mainpage/fragments/components/dailyScheduleTable.html :: wrapper"></div>
    </section>

  </main>

</html>