<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!-- 화면 중간에 보여줄 내용 -->
  <main th:fragment="wrapper">

    <!-- 캐릭터 라벨과 추가 버튼 -->
    <section class="container-lg">
      <div class="hero-label">
        <h5 class="ps-2 pt-3" style="font-weight: bold;">캐릭터</h5>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#heroWriteModal" onclick="onClickHeroAddButton()">추가</button>
      </div>
      <hr/>
  
      <!-- 보여줄 캐릭터 목록 -->
      <section class="row">
        
        <!-- 캐릭터 카드 -->
        <article th:each="hero : ${heroList}" th:if="${hero.disabled == 'N'}" class="col-lg-3 col-md-4 col-sm-6 mb-2">
          <div class="hero card p-1 mb-3">
            <div class="row g-0">
              <div class="image-section col-3">
                <img
                width="65px"
                height="65px"
                th:src="@{/icon/hero/normal/{name}.png(name=${hero.heroTypeDTO.nameEn})}"
                class="heroIcon img-fluid rounded-start"
                alt="캐릭터 아이콘"/>
              </div>
              <div class="col-9">
                <div class="card-body">
                  <p class="card-title" th:text="${hero.heroTypeDTO.nameKr}">직업명</p>
                  <p class="card-text" th:text="${hero.name}">캐릭터명</p>
                </div>
              </div>
            </div>
          </div>
  
          <div class="row mb-3">
            <div class="col-12 btn-group">
              <button type="button" th:value="${hero.idx}" class="btn btn-secondary" onclick="onClickHeroEditButton(this)">캐릭터 수정</button>
              <button type="button" th:value="${hero.idx}" class="btn btn-danger" onclick="onClickHeroRemoveButton(this)">캐릭터 삭제</button>
            </div>
          </div>
        </article>
  
      </section>
    </section>
  </main>

</html>