<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <article th:fragment="wrapper" class="scheduleTable">
    <!-- 일간 스케줄 테이블 -->
    <div class="row ms-2 mb-2">

      <!-- 테이블 타이틀 -->
      <div class="row col-12 table-bar">
        <div class="row col-3 table-th">
          <span class="col-12 d-flex justify-content-center">이름</span>
        </div>
        <div class="col-6 table-th">
          <span>완료 횟수</span>
        </div>
        <div class="col-3 table-th justify-content-start">
          <span></span>
        </div>
      </div>

      <!-- 테이블 내용 -->
      <div th:each="schedule : ${weeklyScheduleList}" class="row col-12 mt-2">

        <!-- 아이콘 및 이름 -->
        <div class="row col-3 table-tr">
          <div class="col-5 table-tr justify-content-end">
            <img
            width="35px"
            height="35px"
            th:src="@{/icon/schedule/{name}.png(name=${schedule.scheduleTypeDTO.nameEn})}"
            class="img-fluid rounded-start"
            alt="스케줄 아이콘"/>
          </div>

          <div th:text="${schedule.name}" class="col-7 table-tr justify-content-start">스케줄 이름</div>
        </div>

        <!-- 완료 횟수 프로그레스바와 라벨 -->
        <div class="col-6">
          <div class="progress mt-2">
            <div
              class="completeCountBar progress-bar progress-bar-striped progress-bar-animated bg-warning"
              role="progressbar"
              aria-valuemin="0"
              th:aria-valuenow="${schedule.completeCount}"
              th:aria-valuemax="${schedule.maxCompleteCount}"
            ></div>
          </div>
          <div class="label">
            <span class="completeCountLabel" th:text="${schedule.completeCount}">현재 완료 횟수</span>
            <span>&nbsp;/&nbsp;</span>
            <span class="maxCompleteCountLabel" th:text="${schedule.maxCompleteCount}">최대 완료 횟수</span>
          </div>
        </div>

        <!-- 수정 및 삭제 버튼그룹 -->
        <div class="col-3 table-tr ms-3">
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-warning">완료</button>
            <button type="button" class="btn btn-secondary">수정</button>
            <button type="button" class="btn btn-danger">삭제</button>
          </div>
        </div>

      </div>

    </div>
  </article>
  
</html>