<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="/layout/basic.html :: head"></div>
    <title>회원가입</title>
    <link th:href="@{/css/account/login.css}" rel="stylesheet">
  </head>
  <body>
    <main class="form-signin text-center">
      <form th:action="@{/account/register}" method="post">
        <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">회원가입</h1>

        <div th:if="${alreadyExistUsername}" class="alert alert-danger" role="alert">
          이미 존재하는 아이디 입니다. 다른 아이디로 가입해주세요.
        </div>

        <div th:if="${didNotTypeUsername}" class="alert alert-danger" role="alert">
          아이디를 입력해주세요.
        </div>

        <div th:if="${didNotTypePassword}" class="alert alert-danger" role="alert">
         비밀번호를 입력해주세요.
        </div>
    
        <div class="form-floating">
          <input type="text" class="form-control" th:value="${params.username}" name="username" id="floatingInput" placeholder="아이디">
          <label for="username">아이디</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" th:value="${params.password}" name="password" id="floatingPassword" placeholder="비밀번호">
          <label for="floatingPassword">비밀번호</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">회원가입</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </main>

    <div th:replace="/pages/mainpage/fragments/script.html :: wrapper"></div>
  </body>
</html>